:root {
  --primaryYellow: #fcfbf1;
  --secondaryYellow: #EBCE70;
  --primaryDarkGreen: #06270B;
  --secondaryDarkGreen: #041807;
  --lightGreen: #50a940;
  --primaryGrey: #989898;
  --primaryWhite: #FFFEF6;
  --primaryRed: #D2232A;
  --primaryOrange: #FFA000;
  --primaryPink: #E8DECE;

  --backgroundColor: var(--primaryYellow);
}

body {
  background-color: #F2F2F2;
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  font-family: 'Inter', sans-serif;
  color: #6C757D
}

.main-header-color {
  color: var(--lightGreen);
}

.sticky-header {
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,.1);
  font-weight: bold;
  width: 30rem;
  background-color: rgba(255,255,255,.8);
  backdrop-filter: blur(16px);
  padding: 10px 0;
}

.head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  z-index: 1000; /* Ensure the header stays above other content */
}

.sticky-header nav a {
  padding: 10px 15px;
  text-decoration: none;
  width: 20rem;
  border-radius: 230px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  display: flex;
  color: #999;
}

.sticky-header nav a:hover {
  color: #333;
}

.intro-br {
  width: 100%;
    height: 1.4px;
    background-color: rgba(0,0,0,.06);
    margin-top: 24px;
    margin-bottom: 24px;
}

.card {
  background-color: rgba(255,255,255,.8);
  flex: 1;
  padding: 2rem;
  color: #6C757D;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,.05);
}